.page_header {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 200;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 16px;
}

.main_menu_pane {
  display: block;
  position: fixed;
  top: -100vh;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  z-index: 100;
  transition: all 0.3s;

  &.active {
    top: 0;
  }

}